In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e39ef64fc572e2bc535a32a77d4040ffc3f420fea69d8155062d2f8eb186c050
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [20]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Road Accident').getOrCreate()

In [21]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
df1 = spark.sparkContext.textFile('drive/My Drive/ABD/Road_accidents.csv')

In [23]:
df1 = spark.read.csv('drive/My Drive/ABD/Road_accidents.csv',header =True,inferSchema =True)
df1.show()
df1.printSchema()

+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
|      STATE/UT|YEAR|JANUARY|FEBRUARY|MARCH|APRIL| MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
| A & N Islands|2001|      8|      23|   15|   15|  14|  19|  14|    19|        7|     12|      13|      22|
| A & N Islands|2002|     12|      10|   14|   16|  10|   7|  16|    11|       23|     21|      11|      17|
| A & N Islands|2003|     19|      13|   15|   13|  13|  12|   8|    16|       17|     25|      14|      15|
| A & N Islands|2004|     21|      14|   22|   17|  13|  18|  16|    19|       16|     20|      15|      24|
| A & N Islands|2005|     19|      21|   22|   17|  13|  19|  21|    14|       15|     19|      10|      16|
| A & N Islands|2006|     21|      13|    4|   22|   9|  14|  12|    14|        8|     14|       6|      18|
| A & N Islands|2007|     17|      16|   12|   22|  12|  14|   8|    10|       11|      7|      11|      12|
| A & N Islands|2008|     17|      22|   15|   16|  15|  17|  13|    11|       13|     17|      11|      24|
| A & N Islands|2009|     16|      23|   23|   21|  21|  19|  24|    25|       31|     22|      20|      26|
| A & N Islands|2010|     16|      30|   28|   15|  29|  24|  22|    18|       25|     30|      27|      21|
| A & N Islands|2011|     24|      10|   19|   24|  13|  28|  17|    18|       25|     17|      18|      22|
| A & N Islands|2012|     25|      15|   24|   24|  18|  16|  17|    18|       18|     25|      17|      19|
| A & N Islands|2013|     24|      23|   16|   15|  13|  16|  14|    25|       14|     15|      14|      11|
| A & N Islands|2014|     25|      13|   19|   19|  18|  15|  15|    16|       15|     23|      18|      22|
|Andhra Pradesh|2001|   2204|    2437| 2405| 2351|2550|2284|2025|  2077|     2070|   2276|    2122|    2387|
|Andhra Pradesh|2002|   2492|    2453| 2835| 2786|3195|2880|2645|  2607|     2555|   2624|    2646|    2859|
|Andhra Pradesh|2003|   2783|    2569| 2870| 2635|3265|2924|2657|  2934|     2767|   2881|    3037|    3215|
|Andhra Pradesh|2004|   3019|    3131| 3211| 3100|3257|2942|2827|  3079|     2972|   3041|    3129|    3370|
|Andhra Pradesh|2005|   3189|    3193| 3182| 3056|3612|3247|2907|  3028|     2742|   2928|    2975|    3230|
|Andhra Pradesh|2006|   3568|    3224| 3496| 3634|3962|3400|3334|  3311|     3232|   3306|    3268|    3588|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
only showing top 20 rows

root
 |-- STATE/UT: string (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- JANUARY: integer (nullable = true)
 |-- FEBRUARY: integer (nullable = true)
 |-- MARCH: integer (nullable = true)
 |-- APRIL: integer (nullable = true)
 |-- MAY: integer (nullable = true)
 |-- JUNE: integer (nullable = true)
 |-- JULY: integer (nullable = true)
 |-- AUGUST: integer (nullable = true)
 |-- SEPTEMBER: integer (nullable = true)
 |-- OCTOBER: integer (nullable = true)
 |-- NOVEMBER: integer (nullable = true)
 |-- DECEMBER: integer (nullable = true)

In [24]:
df2 = spark.sparkContext.textFile('drive/My Drive/ABD/Road_accidents_time.csv')

In [25]:
df2 = spark.read.csv('drive/My Drive/ABD/Road_accidents_time.csv',header = True, inferSchema = True)
df2.show()
df2.printSchema()

+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
|      STATE/UT|YEAR|0-3 hrs. (Night)|3-6 hrs. (Night)|6-9 hrs (Day)|9-12 hrs (Day)|12-15 hrs (Day)|15-18 hrs (Day)|18-21 hrs (Night)|21-24 hrs (Night)|
+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
| A & N Islands|2001|               2|               6|           29|            40|             39|             40|               18|                7|
| A & N Islands|2002|               2|               6|           22|            41|             33|             33|               23|                8|
| A & N Islands|2003|               2|               8|           31|            35|             28|             36|               25|               15|
| A & N Islands|2004|               2|               5|           29|            42|             43|             43|               37|               14|
| A & N Islands|2005|               0|               8|           27|            28|             38|             42|               50|               13|
| A & N Islands|2006|               1|               3|           17|            33|             33|             23|               38|                7|
| A & N Islands|2007|               2|               5|           20|            30|             30|             27|               31|                7|
| A & N Islands|2008|               3|               7|           33|            24|             40|             31|               40|               13|
| A & N Islands|2009|               2|               6|           35|            41|             64|             54|               50|               19|
| A & N Islands|2010|               2|              10|           36|            45|             64|             57|               53|               18|
| A & N Islands|2011|               4|               3|           36|            27|             46|             50|               51|               18|
| A & N Islands|2012|               4|               6|           26|            29|             54|             45|               58|               14|
| A & N Islands|2013|               2|               3|           22|            31|             40|             40|               37|               25|
| A & N Islands|2014|               4|               6|           25|            28|             55|             36|               41|               23|
|Andhra Pradesh|2001|            2239|            3265|         3198|          3729|           3604|           3792|             4098|             3263|
|Andhra Pradesh|2002|            2931|            3857|         3671|          4255|           4153|           4778|             4844|             4088|
|Andhra Pradesh|2003|            3158|            4865|         3749|          4319|           4266|           4853|             5218|             4109|
|Andhra Pradesh|2004|            3191|            4770|         4598|          5030|           4033|           4971|             6031|             4454|
|Andhra Pradesh|2005|            3826|            6011|         5002|          4137|           4261|           4524|             5096|             4432|
|Andhra Pradesh|2006|            3635|            5525|         4270|          5108|           4918|           6101|             6757|             5009|
+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
only showing top 20 rows

root
 |-- STATE/UT: string (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- 0-3 hrs. (Night): integer (nullable = true)
 |-- 3-6 hrs. (Night): integer (nullable = true)
 |-- 6-9 hrs (Day): integer (nullable = true)
 |-- 9-12 hrs (Day): integer (nullable = true)
 |-- 12-15 hrs (Day): integer (nullable = true)
 |-- 15-18 hrs (Day): integer (nullable = true)
 |-- 18-21 hrs (Night): integer (nullable = true)
 |-- 21-24 hrs (Night): integer (nullable = true)

In [30]:
#1 Add column 'Total', giving sum of accidents in each month .
total = df1.withColumn('Sum',(col('JANUARY')+col('FEBRUARY')+col('MARCH')+col('APRIL')+col( 'MAY')+col('JUNE')+col('JULY')+col('AUGUST')+col('SEPTEMBER')+col('OCTOBER')+col('NOVEMBER')+col('DECEMBER')))
total.show()

+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-----+
|      STATE/UT|YEAR|JANUARY|FEBRUARY|MARCH|APRIL| MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER|  Sum|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-----+
| A & N Islands|2001|      8|      23|   15|   15|  14|  19|  14|    19|        7|     12|      13|      22|  181|
| A & N Islands|2002|     12|      10|   14|   16|  10|   7|  16|    11|       23|     21|      11|      17|  168|
| A & N Islands|2003|     19|      13|   15|   13|  13|  12|   8|    16|       17|     25|      14|      15|  180|
| A & N Islands|2004|     21|      14|   22|   17|  13|  18|  16|    19|       16|     20|      15|      24|  215|
| A & N Islands|2005|     19|      21|   22|   17|  13|  19|  21|    14|       15|     19|      10|      16|  206|
| A & N Islands|2006|     21|      13|    4|   22|   9|  14|  12|    14|        8|     14|       6|      18|  155|
| A & N Islands|2007|     17|      16|   12|   22|  12|  14|   8|    10|       11|      7|      11|      12|  152|
| A & N Islands|2008|     17|      22|   15|   16|  15|  17|  13|    11|       13|     17|      11|      24|  191|
| A & N Islands|2009|     16|      23|   23|   21|  21|  19|  24|    25|       31|     22|      20|      26|  271|
| A & N Islands|2010|     16|      30|   28|   15|  29|  24|  22|    18|       25|     30|      27|      21|  285|
| A & N Islands|2011|     24|      10|   19|   24|  13|  28|  17|    18|       25|     17|      18|      22|  235|
| A & N Islands|2012|     25|      15|   24|   24|  18|  16|  17|    18|       18|     25|      17|      19|  236|
| A & N Islands|2013|     24|      23|   16|   15|  13|  16|  14|    25|       14|     15|      14|      11|  200|
| A & N Islands|2014|     25|      13|   19|   19|  18|  15|  15|    16|       15|     23|      18|      22|  218|
|Andhra Pradesh|2001|   2204|    2437| 2405| 2351|2550|2284|2025|  2077|     2070|   2276|    2122|    2387|27188|
|Andhra Pradesh|2002|   2492|    2453| 2835| 2786|3195|2880|2645|  2607|     2555|   2624|    2646|    2859|32577|
|Andhra Pradesh|2003|   2783|    2569| 2870| 2635|3265|2924|2657|  2934|     2767|   2881|    3037|    3215|34537|
|Andhra Pradesh|2004|   3019|    3131| 3211| 3100|3257|2942|2827|  3079|     2972|   3041|    3129|    3370|37078|
|Andhra Pradesh|2005|   3189|    3193| 3182| 3056|3612|3247|2907|  3028|     2742|   2928|    2975|    3230|37289|
|Andhra Pradesh|2006|   3568|    3224| 3496| 3634|3962|3400|3334|  3311|     3232|   3306|    3268|    3588|41323|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-----+
only showing top 20 rows

In [33]:
# 2. Which state has highest number of accidents in year 2013?
acc = total.select('STATE/UT','YEAR','Sum').filter(col('year')==2013)
acc.where(col('Sum') == acc.agg({'Sum':'max'}).collect()[0][0]).show()

+----------+----+-----+
|  STATE/UT|YEAR|  Sum|
+----------+----+-----+
|Tamil Nadu|2013|66238|
+----------+----+-----+

In [34]:
#Find the average monthly accidents for each state.
avg = df1.withColumn('Avg',(col('JANUARY')+col('FEBRUARY')+col('MARCH')+col('APRIL')+col( 'MAY')+col('JUNE')+col('JULY')+col('AUGUST')+col('SEPTEMBER')+col('OCTOBER')+col('NOVEMBER')+col('DECEMBER'))/2)
avg.show()

+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-------+
|      STATE/UT|YEAR|JANUARY|FEBRUARY|MARCH|APRIL| MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER|    Avg|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-------+
| A & N Islands|2001|      8|      23|   15|   15|  14|  19|  14|    19|        7|     12|      13|      22|   90.5|
| A & N Islands|2002|     12|      10|   14|   16|  10|   7|  16|    11|       23|     21|      11|      17|   84.0|
| A & N Islands|2003|     19|      13|   15|   13|  13|  12|   8|    16|       17|     25|      14|      15|   90.0|
| A & N Islands|2004|     21|      14|   22|   17|  13|  18|  16|    19|       16|     20|      15|      24|  107.5|
| A & N Islands|2005|     19|      21|   22|   17|  13|  19|  21|    14|       15|     19|      10|      16|  103.0|
| A & N Islands|2006|     21|      13|    4|   22|   9|  14|  12|    14|        8|     14|       6|      18|   77.5|
| A & N Islands|2007|     17|      16|   12|   22|  12|  14|   8|    10|       11|      7|      11|      12|   76.0|
| A & N Islands|2008|     17|      22|   15|   16|  15|  17|  13|    11|       13|     17|      11|      24|   95.5|
| A & N Islands|2009|     16|      23|   23|   21|  21|  19|  24|    25|       31|     22|      20|      26|  135.5|
| A & N Islands|2010|     16|      30|   28|   15|  29|  24|  22|    18|       25|     30|      27|      21|  142.5|
| A & N Islands|2011|     24|      10|   19|   24|  13|  28|  17|    18|       25|     17|      18|      22|  117.5|
| A & N Islands|2012|     25|      15|   24|   24|  18|  16|  17|    18|       18|     25|      17|      19|  118.0|
| A & N Islands|2013|     24|      23|   16|   15|  13|  16|  14|    25|       14|     15|      14|      11|  100.0|
| A & N Islands|2014|     25|      13|   19|   19|  18|  15|  15|    16|       15|     23|      18|      22|  109.0|
|Andhra Pradesh|2001|   2204|    2437| 2405| 2351|2550|2284|2025|  2077|     2070|   2276|    2122|    2387|13594.0|
|Andhra Pradesh|2002|   2492|    2453| 2835| 2786|3195|2880|2645|  2607|     2555|   2624|    2646|    2859|16288.5|
|Andhra Pradesh|2003|   2783|    2569| 2870| 2635|3265|2924|2657|  2934|     2767|   2881|    3037|    3215|17268.5|
|Andhra Pradesh|2004|   3019|    3131| 3211| 3100|3257|2942|2827|  3079|     2972|   3041|    3129|    3370|18539.0|
|Andhra Pradesh|2005|   3189|    3193| 3182| 3056|3612|3247|2907|  3028|     2742|   2928|    2975|    3230|18644.5|
|Andhra Pradesh|2006|   3568|    3224| 3496| 3634|3962|3400|3334|  3311|     3232|   3306|    3268|    3588|20661.5|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-------+
only showing top 20 rows

In [36]:
#4 Which month has highest accidents?
High_acc = avg.select('STATE/UT','YEAR','Avg').show()

+--------------+----+-------+
|      STATE/UT|YEAR|    Avg|
+--------------+----+-------+
| A & N Islands|2001|   90.5|
| A & N Islands|2002|   84.0|
| A & N Islands|2003|   90.0|
| A & N Islands|2004|  107.5|
| A & N Islands|2005|  103.0|
| A & N Islands|2006|   77.5|
| A & N Islands|2007|   76.0|
| A & N Islands|2008|   95.5|
| A & N Islands|2009|  135.5|
| A & N Islands|2010|  142.5|
| A & N Islands|2011|  117.5|
| A & N Islands|2012|  118.0|
| A & N Islands|2013|  100.0|
| A & N Islands|2014|  109.0|
|Andhra Pradesh|2001|13594.0|
|Andhra Pradesh|2002|16288.5|
|Andhra Pradesh|2003|17268.5|
|Andhra Pradesh|2004|18539.0|
|Andhra Pradesh|2005|18644.5|
|Andhra Pradesh|2006|20661.5|
+--------------+----+-------+
only showing top 20 rows

In [38]:
df2.show()

+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
|      STATE/UT|YEAR|0-3 hrs. (Night)|3-6 hrs. (Night)|6-9 hrs (Day)|9-12 hrs (Day)|12-15 hrs (Day)|15-18 hrs (Day)|18-21 hrs (Night)|21-24 hrs (Night)|
+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
| A & N Islands|2001|               2|               6|           29|            40|             39|             40|               18|                7|
| A & N Islands|2002|               2|               6|           22|            41|             33|             33|               23|                8|
| A & N Islands|2003|               2|               8|           31|            35|             28|             36|               25|               15|
| A & N Islands|2004|               2|               5|           29|            42|             43|             43|               37|               14|
| A & N Islands|2005|               0|               8|           27|            28|             38|             42|               50|               13|
| A & N Islands|2006|               1|               3|           17|            33|             33|             23|               38|                7|
| A & N Islands|2007|               2|               5|           20|            30|             30|             27|               31|                7|
| A & N Islands|2008|               3|               7|           33|            24|             40|             31|               40|               13|
| A & N Islands|2009|               2|               6|           35|            41|             64|             54|               50|               19|
| A & N Islands|2010|               2|              10|           36|            45|             64|             57|               53|               18|
| A & N Islands|2011|               4|               3|           36|            27|             46|             50|               51|               18|
| A & N Islands|2012|               4|               6|           26|            29|             54|             45|               58|               14|
| A & N Islands|2013|               2|               3|           22|            31|             40|             40|               37|               25|
| A & N Islands|2014|               4|               6|           25|            28|             55|             36|               41|               23|
|Andhra Pradesh|2001|            2239|            3265|         3198|          3729|           3604|           3792|             4098|             3263|
|Andhra Pradesh|2002|            2931|            3857|         3671|          4255|           4153|           4778|             4844|             4088|
|Andhra Pradesh|2003|            3158|            4865|         3749|          4319|           4266|           4853|             5218|             4109|
|Andhra Pradesh|2004|            3191|            4770|         4598|          5030|           4033|           4971|             6031|             4454|
|Andhra Pradesh|2005|            3826|            6011|         5002|          4137|           4261|           4524|             5096|             4432|
|Andhra Pradesh|2006|            3635|            5525|         4270|          5108|           4918|           6101|             6757|             5009|
+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
only showing top 20 rows

In [41]:
#5 Which time slot (like 0-3, 3-6 etc) has more accidents? What about 'Karnataka' state?
time = df2.withColumnRenamed('0-3 hrs. (Night)','Till 3 (night)')
time.filter(col('STATE/UT') == 'Karnataka').show()

+---------+----+--------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
| STATE/UT|YEAR|Till 3 (night)|3-6 hrs. (Night)|6-9 hrs (Day)|9-12 hrs (Day)|12-15 hrs (Day)|15-18 hrs (Day)|18-21 hrs (Night)|21-24 hrs (Night)|
+---------+----+--------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
|Karnataka|2001|          2426|            2925|         3775|          5210|           4799|           5131|             4807|             3787|
|Karnataka|2002|          2663|            3482|         4123|          5865|           5414|           5315|             5141|             3658|
|Karnataka|2003|          2719|            3398|         4095|          5735|           5696|           6154|             5687|             4027|
|Karnataka|2004|          2576|            3106|         4140|          5955|           5888|           6400|             6371|             4315|
|Karnataka|2005|          2949|            3198|         4665|          6193|           6095|           6658|             6377|             4138|
|Karnataka|2006|          3264|            3702|         4738|          6871|           6425|           6709|             6839|             4732|
|Karnataka|2007|          3239|            3590|         5350|          7142|           7486|           7193|             7263|             5071|
|Karnataka|2008|          3181|            3802|         5471|          6533|           7183|           7051|             7159|             5872|
|Karnataka|2009|          3107|            3750|         5001|          6399|           6733|           7066|             7258|             5876|
|Karnataka|2010|          3481|            5270|         5268|          6922|           6451|           6951|             7207|             4670|
|Karnataka|2011|          3468|            3807|         4657|          6606|           6568|           7376|             7501|             4713|
|Karnataka|2012|          3085|            2802|         4472|          6842|           6753|           7802|             7431|             5261|
|Karnataka|2013|          3318|            3174|         4126|          6104|           5836|           6201|             6526|             4306|
|Karnataka|2014|          3022|            3219|         4576|          6393|           6646|           7119|             7377|             5342|
+---------+----+--------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+

In [54]:
#Which state has more accidents from year 2001 to 2014?
acc = total.select('STATE/UT','YEAR','Sum').where(col('YEAR') <= 2014)
state = acc.groupBy('STATE/UT','Sum').count().agg({'Sum':'sum'}).collect()[0][0]
state

5599501

In [56]:
#8

highest_acc = df1.select([col for col in df1.columns if col!= 'STATE/UT' and col!='YEAR'])
var  = {}
for i in highest_acc.columns:
  var[i] = highest_acc.agg({i:'max'}).collect()[0][0]
df4 = spark.createDataFrame(var.items(), ["month", "value"])
maxValue = df4.agg({'value':'max'}).collect()[0][0]
df4.select('month','value').where(col('value')==maxValue).show()

+-----+-----+
|month|value|
+-----+-----+
|  MAY| 9330|
+-----+-----+